
<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequuntur quisquam expedita natus explicabo officiis eum impedit fuga cupiditate doloribus eligendi amet, inventore veritatis pariatur optio! Laborum ullam nesciunt accusantium.</p>
        </div>
</div>
</header>